.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.profile-about-me {
  padding: 2rem;
  width: 200px;
}

.profile-img {
  border-radius: 10%;
  box-shadow: 10px 10px 20px -8px var(--secondary-10);
  height: 300px;
  object-fit: cover;
  object-position: top;
  width: 300px;
}
