.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  & a {
    color: var(--primary);
    text-decoration: none;
    padding: 10px;
  }

  & a:hover {
    color: var(--tertiary);
    background-color: var(--primary);
  }

  .active {
    color: var(--tertiary);
    background-color: var(--primary);
  }
}

