nav {
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;

  & ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  & a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
  }

  & a:hover {
    color: black;
    background-color: white;
  }

  .active {
    color: black;
    background-color: white;
  }
}
